server {
    listen 80;
    server_name _;

    client_max_body_size 100M;

    location = /dify {
        proxy_pass http://web:3000;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /dify/ {
        proxy_pass http://web:3000;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location = /dify/manifest.json {
        proxy_pass http://web:3000;
        include proxy.conf;
    }

    location /dify/socket.io/ {
        resolver 127.0.0.11 valid=30s ipv6=off;
        set ${DOLLAR}socket_io_upstream ${NGINX_SOCKET_IO_UPSTREAM};
        rewrite ^/dify/(.*)$ /$1 break;
        proxy_pass http://${DOLLAR}socket_io_upstream;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade ${DOLLAR}http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_cache_bypass ${DOLLAR}http_upgrade;
    }

    location /dify/api/ {
        rewrite ^/dify/(.*)$ /$1 break;
        proxy_pass http://api:5001;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /dify/console/api/ {
        rewrite ^/dify/(.*)$ /$1 break;
        proxy_pass http://api:5001;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /dify/v1/ {
        rewrite ^/dify/(.*)$ /$1 break;
        proxy_pass http://api:5001;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /dify/files/ {
        rewrite ^/dify/(.*)$ /$1 break;
        proxy_pass http://api:5001;

        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Prefix /dify;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
